
datasets/NPTEL MOOC Dataset/k100_a0.01/

.vscode/

siamese network/siamese_summary/test/

siamese network/siamese_summary/train/

siamese network/data_processing/__pycache__/

datasets/YaleOCW Corpus/courses/

datasets/YaleOCW Corpus/sessions/

pairwise linked lda/

datasets/YaleOCW Corpus/

datasets/NPTEL MOOC Dataset/

datasets/University Course Dataset/
